<html>
    <head>
        <title>
            <%=path%>
        </title>

        <%- renderSection('head') %>

        <style type="text/css">
            body{
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                font-size: 14px;
                line-height: 18px;
            }
            .err-stack{
                width: 100%;
                height: 50%;
                padding: 0;
                margin: 0;
                border: none;
                font: 12px "Courier New";
            }
            .footer{
                text-align: right;
                font: 12px "Courier New";
            }
        </style>
    </head>
    <body>
        <div class="content">
            <%- renderBody() %>
        </div>
        <div class="footer">
            Powered by servethis (npm install -g servethis)
        </div>
    </body>
</html>