<h2><%= model.err.status %> - <%= model.err.message %></h2>

<% if(model.req.connection.remoteAddress === '127.0.0.1' ||  model.req.connection.remoteAddress === '::1'){ %>
    <hr />
    <textarea disabled class="err-stack">
        <%= model.err.stack %>
    </textarea>
    <hr />
<% } %>